@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>考务管理系统</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Account/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/Account/Login.js"></script>
</head>
<body>
    <div id="starry-sky-container" style="height:100%;width:100%;">
        <canvas id="starry-sky-canvas" style="z-index:-1;"></canvas>
        <div id="spinner-container">
            <span id="spinner" class="fa fa-spinner"></span>
        </div>
        <div id="login_div">
            <form>
                <div>
                    <input id="uername_input" type="text" name="username" maxlength="10" size="39" placeholder="用户名" autocomplete="off" />
                </div>
                <div>
                    <input id="password_input" type="password" name="password" maxlength="10" size="33" placeholder="密码" autocomplete="off" />
                    <button id="login_btn" type="button"><span class="fa fa-arrow-circle-o-right"></span></button>
                    <div id="tooltip">
                        <span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    @Scripts.Render("~/Scripts/StarrySky")
</body>
</html>