
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Account/login.css" rel="stylesheet" />
</head>
<body>
    <div id="starry-sky-container" style="height:100%;width:100%;">
        <canvas id="starry-sky-canvas" style="z-index:-1;"></canvas>
        <div id="login_div">
            <div>
                <input id="uername_input" type="text" name="username" maxlength="10" size="39" placeholder="用户名" />
            </div>
            <div>
                <input id="password_input" type="password" name="password" maxlength="10" size="33" placeholder="密码" />
                <button id="login_btn"><span class="fa fa-arrow-circle-o-right"></span></button>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Account/EasePack.min.js"></script>
    <script src="~/Scripts/Account/TweenLite.min.js"></script>
    <script src="~/Scripts/Account/StarrySky.js"></script>
</body>
</html>