
@{
    ViewBag.Title = "AddMajor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section style{
    <style>
        #control {
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        .btn {
            margin: 0 10px;
        }

        .form-inline {
            margin: 0 50px;
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
    </style>
}
@section script{
    <script>
        $(document).ready(function () {
            $('.del').click(del);
            $('.reset').click(reset);
            $('#addTerm').click(addOne);
            $('#addTerm').click();
            $('#clear').click(function () {
                $('#forms').empty();
            });
            $('#submit').click(function () {
                if (!checkInput())
                    return;
                var courses = [];
                $('.form-inline').each(function () {
                    var course = {};
                    course.CourseName = $(this).find('input[type="text"]').val();
                    course.Credit = parseFloat($(this).find('input[type="number"]').val());
                    courses.push(course);
                });
                $.ajax({
                    type:'post',
                    data: {
                        courses: courses
                    },
                    success: function (result) {
                        if (result == 'success')
                            location.reload();
                        else
                            alert('提交失败');
                    }
                });
            });
        });
        function del() {
            $(this).parent('form').remove();
        }
        function reset() {
            var divs = $(this).prevAll('div');
            console.log(divs);
            divs.first().children('input').val(3);
            divs.last().children('input').val('');
        }
        function checkInput() {
            var flag = true;
            $('input[type="text"]').each(function () {
                if ($(this).val() == '') {
                    alert('课程名称不可为空');
                    flag = false;
                    return false;
                }
            });
            return flag;
        }
        function addOne() {
            var text = '<form class="form-inline">' +
                '<div class="form-group">' +
                '<label for="exampleInputName2"> 课程名称</label>' +
                '<input type="text" class="form-control" id="exampleInputName2" placeholder="课程名称">' +
                '</div>' +
                '<div class="form-group">' +
                '<label for="exampleInputEmail2"> 学分</label>' +
                '<input type="number" min="0" step="0.5" value="3" class="form-control" id="exampleInputEmail2" placeholder="学分">' +
                '</div>' +
                '<button type="button" class="btn btn-default del">' +
                '<span class="fa fa-trash"></span> 删除</button>' +
                '<button type="button" class="btn btn-default reset">重置</button>' +
                '</form>';
            $('#forms').append(text);
            $('.del').last().on('click', del);
            $('.reset').last().on('click', reset);
        }
    </script>
}
<div id="control">
    <button class="btn btn-primary" id="addTerm">添加一行</button>
    <button class="btn btn-success" id="submit">提交</button>
    <button class="btn btn-danger" id="clear">清除全部</button>
</div>
<div id="forms"></div>