
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nav{
    <li class="li-menu">
        <a href="2">
            <i class="fa fa-bar-chart icon-menu"></i>
        </a>
    </li>
    <li class="li-menu">
        <a href="3">
            <i class="fa fa-commenting-o icon-menu"></i>
        </a>
    </li>
    <li class="li-menu">
        <a href="4">
            <i class="fa fa-envelope-o icon-menu"></i>
        </a>
    </li>
    <li class="li-menu">
        <a href="1">
            <i class="fa fa-cog icon-menu"></i>
        </a>
    </li>
}
@section RightPart{

}
<p>Content</p>