
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
    <style>
        #control {
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        .btn {
            margin: 0 10px;
        }

        .form-inline {
            margin: 0 50px;
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
    </style>
    <script>
        $(document).ready(function () {
            var select = selectValue();
            $('.del').click(del);
            $('.reset').click(reset);
            $('#addTerm').click(function () {
                addOne(select);
            });
            $('#addTerm').click();
            $('#clear').click(function () {
                $('#forms').empty();
            });
            $('#submit').click(function () {
                if (!checkInput())
                    return;
                var teachers = [];
                $('.form-inline').each(function () {
                    var teacher = {};
                    var puts = $(this).find('input[type="text"]');
                    teacher.Tea_id = puts.first().val();
                    teacher.TeaName = puts.eq(1).val();
                    teacher.Passwd = puts.last().val();
                    teacher.MajorId = $(this).find('select').val();
                    teachers.push(teacher);
                });
                $.ajax({
                    type: 'post',
                    data: {
                        teachers: teachers
                    },
                    success: function (result) {
                        if (result == 'success')
                            location.href = '/Admin/TeacherMessage';
                        else
                            alert('提交失败');
                    }
                });
            });
        });
        function del() {
            $(this).parent('form').remove();
        }
        function reset() {
            var divs = $(this).prevAll('div');
            divs.first().children('input').val('123456');
            divs.eq(1).children('input').val('');
            divs.last().children('input').val('');
        }
        function checkInput() {
            var flag = true;
            $('input[type="text"]').each(function () {
                if ($(this).val() == '') {
                    alert('请将信息补充完整');
                    flag = false;
                    return false;
                }
            });
            return flag;
        }
        function selectValue() {
            var selectHtml = '<select class="form-control">';
            $.ajax({
                url: '/Admin/MajorList',
                type: 'get',
                async: false,
                success: function (result) {
                    $.each(result, function (index, item) {
                        var options = '<option value="' + item.value + '">';
                        options += item.text;
                        options += '</option>';
                        selectHtml += options;
                    });
                }
            });
            selectHtml += '</select>';
            return selectHtml;
        }
        function addOne(select) {
            var text = '<form class="form-inline">' +
                '<div class="form-group">' +
                '<label for="tea_id">教职工号</label>' +
                '<input type="text" class="form-control" id="tea_id" placeholder="教职工号">' +
                '</div>' +
                '<div class="form-group">' +
                '<label for="tea_name">姓名</label>' +
                '<input type="text" class="form-control" id="tea_name" placeholder="姓名">' +
                '</div>' +
                '<div class="form-group">' +
                '<label for="passwd"> 密码</label>' +
                '<input type="text" value="123456" class="form-control" id="passwd" placeholder="密码">' +
                '</div>' +
                select +
                '<button type="button" class="btn btn-default del">' +
                '<span class="fa fa-trash"></span> 删除</button>' +
                '<button type="button" class="btn btn-default reset">重置</button>' +
                '</form>';
            $('#forms').append(text);
            $('.del').last().on('click', del);
            $('.reset').last().on('click', reset);
        }
    </script>
}
<div id="control">
    <button class="btn btn-primary" id="addTerm">添加一行</button>
    <button class="btn btn-success" id="submit">提交</button>
    <button class="btn btn-danger" id="clear">清除全部</button>
</div>
<div id="forms"></div>