* {
    margin: 0;
}

html,
body {
    height: 100%;

}

body {
    overflow: hidden;
}

#header {
    height: 50px;
    background-color: rgba(117, 185, 230,1);
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

#nav {
    width: 210px;
    height: 100%;
    overflow: hidden;
    float: left;
    border-right: 1px;
    border-right-style: solid;
    border-color: rgba(194, 194, 194, 0.4);
}

#nav a {
    text-decoration:none;
    display: block;
    padding: 15px;
    color: rgb(124, 124, 124);
}

#nav-menu li {
    width: 100%;
    /* text-align: center; */
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}
.down{
    float: right;
    margin-left: 5px;
}

.hasSub ul{
    display: none;
}


.hasSub ul>li{
    padding-left: 30px;
}

.Extension{
    background-color: rgba(117, 185, 230,0.5);
}


.menu-icon{
    display: inline-block;
    margin: 0 10px;
}

#nav-menu li:hover {
    background-color: rgba(200, 227, 245,0.5);
}

.header-img {
    vertical-align: top;
    border-radius: 5px;
    margin: 5px;
    width: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

#personal {
    cursor: pointer;
    display: flex;
}

#personal li {
    float: left;
    position: relative;
    margin: 0 0 0 20px;
}

.logo-text {
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    cursor: default;
}

#username {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 50px;
}

.personal-logo {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 50px;
}

.tip {
    background-color: rgb(246, 132, 132);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    min-width: 10px;
    padding: 1px 4px;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 0 2px rgb(255, 255, 255);
}
.head-tip{
    position: absolute;
    top: 2px;
    left: 15px;
}
.li-tip {
    float: right;
    visibility: hidden;
}

#content {
    margin-left: 210px;
    padding: 30px;
    overflow: auto;
    height: 90%;
}