<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>考务管理系统</title>
    
</head>
<body>
    <div>
        <div class="content">
            <div class="left-part">
                <div class="menu">
                    <ul class="ul-menu">
                    </ul>
                    <button id="sign-out">
                        <i class="fa fa-sign-out icon-menu"></i>
                    </button>
                </div>
                <div class="content-tab-container">
                    <div class="content-tab">
                    </div>
                </div>
            </div>
            <div class="right-part">
            </div>
        </div>
    </div>
</body>
</html>