<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>考务管理系统</title>
    @*@Styles.Render("font-awesome")*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Shared/Layout.css" rel="stylesheet" />
    <script>

    </script>
</head>
<body>
    <div>
        <div class="content">
            <div class="left-part">
                <div class="menu">
                    <ul class="ul-menu">
                        @RenderSection("nav")
                    </ul>
                    <button id="sign-out">
                        <i class="fa fa-sign-out icon-menu"></i>
                    </button>
                </div>
                <div class="content-tab-container">
                    <div class="content-tab">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="right-part">
                @RenderSection("RightPart")
            </div>
        </div>
    </div>
</body>
</html>