@model ExaminationManagement.Models.DataBaseModels.StuInfo

@{
    if (Model.Name != "")
    {
        ViewBag.userName = Model.Name;
    }
    else
    {
        ViewBag.userName = Model.Stu_id;
    }
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Index</h2>

